body {
  background: rgb(22,26,29);
  background: linear-gradient(0deg, rgba(22,26,29,0.92) 83%, rgba(22,33,43,0.7) 100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh; /* Ensure body takes full height */
}

header {
  width: 100vw;
  min-height: 100px;
  background: rgb(22,27,33);
  background: linear-gradient(322deg, rgba(22,27,33,1) 0%, rgba(21,34,46,1) 100%);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1; /* Allow main to take up remaining space */
  overflow: hidden; /* Prevent overflow of main */
}

/*MAIN GAME*/
#cut-out {
  background: rgb(34,42,55);
  background: linear-gradient(0deg, rgba(34,42,55,1) 28%, rgba(110,123,146,1) 100%);
  width: 25%;
  height: 100px;
}

#increment-btn {
  width: 200px;
  height: 200px;
  transition: all 0.2s;
  border-radius: 15px;
  box-shadow: 2px 4px 20px #000 ;
}

#increment-btn:active {
  width: 150px;
  height: 150px;
}

#moneyBar {
  background: rgb(110,123,146);
  background: linear-gradient(180deg, rgba(110,123,146,1) 0%, rgba(80,91,110,1) 4%, rgba(60,70,86,1) 10%, rgba(55,65,80,1) 23%, rgba(34,42,55,1) 50%);
  border: 3px solid #3E4858;
  margin: 0 20px;
  padding: 5px;
  min-width: 385px;
  min-height: 69px;
  border-radius: 20px;
  color: #6696CD;
  font-size: 30px;
  align-items: center;
}
#cash-sign {
  margin-right: 5px;
}
#moneyBar > h2 {
  margin-top: 0;
  margin-bottom: 0;
}
#header-Items {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.btn-Style {
  background-color: #2D3A52;
  border-radius: 10px;
  border: none;
  color: #6696CD;
  width: 180px;
  height: 53px;
  font-size: 30px;
}
/*MAIN GAME*/

/*UPGRADE BAR*/
.upgrade {
  background: rgb(32,40,52);
  background: linear-gradient(0deg, rgba(32,40,52,1) 0%, rgba(32,35,42,0.4) 100%);
  border: 1px solid #2D3A52;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  width: 85%;
  height: 50%;
}

#nick {
  height: 50px;
  width: 50px;
}

#buy-menu-wrapper {

  height: 100%;
  width: 26%;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  background: rgb(22,27,33);
  background: linear-gradient(27deg, rgba(22,27,33,1) 0%, rgba(21,34,46,1) 100%);
}

#buy-menu {
  padding: 20px 0 20px 0;
  overflow-y: auto; 
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
 
}
/*UPGRADE BAR*/

#trans-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.527);
  justify-content: center;
  align-items: center;
}

#over-Menu {
  width: 80%;
  height: 80%;
  background-color: hsl(221, 85%, 84%);
  border: 6px hsl(222, 75%, 71%) solid;
  border-radius: 20px;
  padding: 20px;
}

#close {
  color: hsl(7, 69%, 41%);
  cursor: pointer;
}

#header-overHead {
  justify-content: space-between;
  align-items: center;
}

.menu-pos {
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9f9e9e #464646;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #464646;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9f9e9e;
    border: 19px solid #ededed;
  }
  /* ===== Scrollbar CSS ===== */